:root{
    --red: #DC2626;
    --btn_hover_red: #6B0D0D;
}
.mainBG {
    width: 100vw;
    height: 100vh;
    background-color: black;
}


.sidebar_container {
    border-right: 2px solid var(--red);
}

.header_label {
    color: var(--red);
}

.std_input {
    background-color: #707070;
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.std_button {
    background-color: #3B0404 !important;
    border: 0px solid transparent;
    border-radius: 10px;
    width: 10rem;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* .std_button .hrefLink {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
} 

.std_button span {} */

.std_button:hover {
    background-color: #6B0D0D !important;
}

.sidebar_col {
    max-width: 250px;
    min-width: 250px;
}

.clickable {
    cursor: pointer !important;
}

.feed_item {
    background-color: #3D3D3D;
    border-radius: 6px;
    min-height: 500px;
    max-width: 750px;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.feed_item:hover {
    box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -webkit-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
}

.feed_header {
    flex-direction: row;
    border-bottom: 1px solid var(--red);
    align-items: center;
    display: flex;
}

.feed_footer {
    border-top: 1px solid var(--red);
    display: flex;
    flex-direction: row;
}

.actions_div .bi-hand-thumbs-up-fill {
    display: none;
}

.actions_div .bi-hand-thumbs-down-fill {
    display: none;
}

.actions_div .action_dislike:hover .bi-hand-thumbs-down-fill {
    display: flex;
}

.actions_div .action_dislike:hover .bi-hand-thumbs-down {
    display: none;
}

.actions_div .action_like:hover .bi-hand-thumbs-up-fill {
    display: flex;
}

.actions_div .action_like:hover .bi-hand-thumbs-up {
    display: none;
}

.newPost_container {
    background-color: #232323;
    height: 85vh;
    min-height: 500px;
    max-width: 1000px !important;
    width: 100% !important;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.std_button:hover .createPost_Span {
    color: #FFF !important
}

.category_checkbox{
    pointer-events: none;
}

.categoryContainer .bi-chevron-down{
    right: 0.5rem !important;
    top: 0.25rem;
    bottom: 0rem;
}

.categoryContainer{
    background-color: #707070;
    border-radius: 10px;
    border: 0px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 35px;
    cursor: pointer;
}

.categoryContainer.open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.categoryContainer.open .categoryDropdownContainer{
    display: flex;
}

.categoryDropdownContainer{
    display: none;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--red);
    background-color: #707070;
    padding: 0.5rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: calc(35px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.categoryCheckbox{
    pointer-events: none;
}

.newPost_Textarea{
    min-height: 125px;
    resize: none;
}

.imageContainer{
    min-width: 200px !important;
    max-width: 200px !important;
    height: 150px !important;
}

.imagePlaceholder{
    background-color: #CACACA;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.category_mainContainer{
    overflow-y: auto;
    overflow-x: hidden;
}

.categoryRow{
    overflow-y: hidden;
    overflow-x: auto;
}

.categoryRow{
    min-height: 225px;
}


.post_Container{
    background-color: #3D3D3D;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-bottom-red{
    border-bottom: 1px solid #DC2626;
}

.comment_span{
    color: #FFFFFF;
    font-size: 14px;
}