:root {
    --red: #DC2626;
    --btn_hover_red: #6B0D0D;
}

.mainBG {
    width: 100vw;
    height: 100vh;
    background-color: black;
}


.sidebar_container {
    border-right: 2px solid var(--red);
}

.header_label {
    color: var(--red);
}

.std_input {
    background-color: #707070;
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.std_button {
    background-color: #3B0404 !important;
    border: 0px solid transparent;
    border-radius: 10px;
    width: 10rem;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* .std_button .hrefLink {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
} 

.std_button span {} */

.std_button:hover {
    background-color: #6B0D0D !important;
}

.sidebar_col {
    max-width: 250px;
    min-width: 250px;
}

.clickable {
    cursor: pointer !important;
}

.feed_item {
    background-color: #3D3D3D;
    border-radius: 6px;
    min-height: 500px;
    max-width: 750px;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.feed_item:hover {
    box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -webkit-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
}

.feed_header {
    flex-direction: row;
    border-bottom: 1px solid var(--red);
    align-items: center;
    display: flex;
}

.feed_footer {
    border-top: 1px solid var(--red);
    display: flex;
    flex-direction: row;
}

.actions_div .bi-hand-thumbs-up-fill {
    display: none;
}

.actions_div .bi-hand-thumbs-down-fill {
    display: none;
}

.actions_div .action_dislike:hover .bi-hand-thumbs-down-fill {
    display: flex;
}

.actions_div .action_dislike:hover .bi-hand-thumbs-down {
    display: none;
}

.actions_div .action_like:hover .bi-hand-thumbs-up-fill {
    display: flex;
}

.actions_div .action_like:hover .bi-hand-thumbs-up {
    display: none;
}

/* .actions_div .bi-hand-thumbs-up-fill.liked {
    display: flex !important;
}

.actions_div .bi-hand-thumbs-up {
    display: none !important;
} */



.newPost_container {
    background-color: #232323;
    height: 85vh;
    min-height: 500px;
    max-width: 1000px !important;
    width: 100% !important;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.std_button:hover .createPost_Span {
    color: #FFF !important
}

.category_checkbox {
    pointer-events: none;
}

.categoryContainer .bi-chevron-down {
    right: 0.5rem !important;
    top: 0.25rem;
    bottom: 0rem;
}

.categoryContainer {
    background-color: #707070;
    border-radius: 10px;
    border: 0px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 35px;
    cursor: pointer;
}

.categoryContainer.open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.categoryContainer.open .categoryDropdownContainer {
    display: flex;
    position: absolute;
    top: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #707070;
    max-height: 25rem;
}

.categoryDropdownContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--red);
    background-color: #707070;
    padding: 0.5rem;
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.categoryCheckbox {
    pointer-events: none;
}

.newPost_Textarea {
    min-height: 125px;
    resize: none;
}

.imageContainer {
    min-width: 200px !important;
    max-width: 200px !important;
    /*height: 150px !important;*/
}

.imagePlaceholder {
    background-color: #CACACA;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.category_mainContainer {
    overflow-y: auto;
    overflow-x: hidden;
}

.categoryRow {
    overflow-y: hidden;
    overflow-x: auto;
}


.post_Container {
    background-color: #3D3D3D;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.border-bottom-red {
    border-bottom: 1px solid var(--red);
}

.comment_span {
    color: #FFFFFF;
    font-size: 14px;
}

.comment_container .reply_to_comment{
    display: none;
}

.comment_container.open .reply_to_comment{
    display: flex;
}


.repost_comment_container i{
    font-size: 16px;
    color: var(--red);
    margin: auto;
}

.repost_comment_container .reposted{
    display: none;
}

.repost_comment_container:hover .reposted{
    display: flex;
}

.repost_comment_container .not_reposted{
    display: flex;
}

.repost_comment_container:hover .not_reposted{
    display: none;
}

.repost_comment_container.reposted .not_reposted{
    display: none !important;
}

.reply_comment_container .reply_to_comment_container{
    display: none;
}

.reply_comment_container.open .reply_to_comment_container{
    display: flex;
}

.reply_to_comment_container{
    background-color: #3d3d3d;
    border: 1px solid var(--red);
    border-radius: 10px;
    min-width: 35rem;
    left: -5rem;
    height: 10rem;
    bottom: -10rem;
    z-index: 10;
}

.reply_to_comment_container{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.45);
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.45);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.45);
}


.reply_to_comment_container textarea{
    height: 4rem;
}


.close_popup i{
    color: var(--red);
}

.close_popup .bi-x-square{
    display: flex;
}

.close_popup:hover .bi-x-square{
    display: none;
}

.close_popup .bi-x-square-fill{
    display: none;
}

.close_popup:hover .bi-x-square-fill{
    display: flex;
}

.reply_popup_header{
    border-bottom: 1px solid var(--red);
}

.reply_popup_footer{
    border-top: 1px solid var(--red);
}

.categoryRow_categoryPage{
    min-height: 25rem;
    max-height: 25rem;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.imageContainer{
    border: 1px solid var(--red);
    border-radius: 10px;
    background-color: #3D3D3D;
}

.imageContainer:hover {
    box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -webkit-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
}

.profile_item{
    border: 1px solid var(--red);
    border-radius: 10px;
    background-color: #3D3D3D;
}

.profile_item:hover {
    box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -webkit-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 43px 10px rgba(255, 0, 0, 0.18);
}

.profile_tab_container{

    border-bottom: 1px solid var(--red);
    overflow-x: auto;
    overflow-y: hidden;
}

.tab_elem{
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.tab_elem.selected{
    background-color: var(--red) !important;
}

.tab_elem span{
    font-weight: bold;
    font-size: 1rem;
}


.tab_elem:hover{
    background-color: var(--btn_hover_red);
}

.profile_content{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile_content.selected{
    display: flex;
}

.about_us_wrapper {
    background-color: #3d3d3d;
}

.ql-picker-label{
    color: var(--red) !important;
}

.ql-snow .ql-stroke{
    stroke: var(--red) !important;
}

.ql-fill{
    fill: var(--red) !important;
}

.ql-editor.ql-blank::before{
    color: #CACACA !important;
}

.ql-editor p{
    color: white !important;
}

.ql-editor{
    height: 15rem !important;
}

.ql-editor ol li::before{
    color: white !important;
}

.ql-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ql-align-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.rules_bg{
    background-color: #3d3d3d;
    border-radius: 10px;
}

.ruleNum{
    font-size: 1.5rem;
    color: var(--red);
    font-weight: bold;
}

.ruleText{
    font-size: 1.25rem;
    color: var(--red);
    font-weight: bold;
}

.tab_elem.admin{
    min-height: 6rem !important;
    max-height: 6rem !important;
    height: 100% !important;
}

.profile_tab_container.admin{
    min-height: 4rem !important;
    max-height: 4rem !important;
    height: 100% !important;
}

.imgDialog{
    background-color: #3D3D3D;
    border-radius: 6px;
    min-height: 500px;
    max-height: 500px;
    max-width: 750px;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 1rem;
}

.imgDialog::backdrop{
    opacity: 0.60 !important;
    background-color: black;
}

.modalImg{
    display: none;
}

.modalImg.active{
    display: flex;
}

.imgIndicator i{
    color: #CACACA;
}

.imgIndicator.active i{
    color: var(--red);
}

.user-card {
    /* Basic Card Styles */
    border: 1px solid #dc2626;
    background-color: #3D3D3D;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* Hover Effect */
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
}

.imgDialog.showing{
    display: flex !important;
}

.profile_comment{
    border: 1px solid var(--red);
    border-radius: 10px;
}

.comment_description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.edit_post_container .dots{
    color: var(--red);
}