.mainBG{
    width: 100vw;
    height: 100vh;
    background-color: black;
}


.sidebar_container{
    border-right: 1px solid #DC2626;
}

.header_label{
    color: #DC2626;
}

.std_input{
    background-color: #707070;
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.std_button{
    background-color: #3B0404 !important;
    border: 0px solid transparent;
    border-radius: 10px;
    width: 10rem;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.std_button span{
}

.std_button:hover{
    background-color: #6B0D0D !important;
}